body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #7f05a7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

#add-product-btn,
#add-cat-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#categories-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-card{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
}

.product-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.category-card h3 {
    margin-top: 10px;
}

.product-card h3 {
    margin-top: 10px;
}

.category-card p {
    margin: 10px 0;
}

.product-card p {
    margin: 10px 0;
}

.category-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.product-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.category-card button:hover {
    background-color: #555;
}

.product-card button:hover {
    background-color: #555;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

li:hover {
    cursor: pointer;
}

select{
    width: 204px;
    height: 30px;
}