body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #7f05a7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.header-container h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-items {
    flex: 2;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-items .item img {
    width: 100px;
    height: 150px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-items .item-details {
    flex: 1;
}

.cart-items .remove-item {
    background-color: #ff9900;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.summary {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary .checkout-button {
    background-color: #ff9900;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    color: white;
}
li:hover{
    cursor: pointer;
}